<!--Index -->
<!-- Index -->
<div class="page-header">
  <h3>Daily Expense</h3>
</div>
<div class="bs-component well">
	<%= simple_form_for(@daily_expense,:url => account_daily_expense_create_path,:html_options => {:class => "form-horizontal"}) do |f| %>
	  <fieldset>
	    <legend>Add Daily Expense</legend>
	    <div class="form-group col-lg-12">
	      <div class="col-lg-6">
		      <label for="inputEmail" class="col-lg-2 control-label">Note</label>
		      <div class="col-lg-6">
		      	 <%= f.input :note, :label =>false, required: true,  input_html: {class: 'form-control'}, :placeholder => "Note " %>
		      </div>
		   </div>
		   <div class="col-lg-6">
		      <label for="inputEmail" class="col-lg-2 control-label">Type</label>
		      <div class="col-lg-6">
		      	 <%= f.input :type_id, :label =>false, required: true,  :collection=> @types.map{ |p| [p.name, p.id,]},:input_html => {:class => 'form-control'}, :prompt => "Select Type" %>
		      </div>
		   </div>
	    </div>

	    <div class="form-group col-lg-12">
	      <div class="col-lg-6">
		      <label for="inputEmail" class="col-lg-2 control-label">Ammount Spent</label>
		      <div class="col-lg-6">
		      	 <%= f.input :ammount, :label =>false, required: true,  input_html: {class: 'form-control'}, :placeholder => "Enter Ammount " %>
		      </div>
		   </div>
		   <div class="col-lg-6">
		      <label for="inputEmail" class="col-lg-2 control-label">Spent By</label>
		      <div class="col-lg-6">
		      	 <%= f.input :spent_by, :label =>false, required: true, :collection=> @users.map{ |p| [p.email, p.id,]},:prompt => @current_user ? @current_user.email : "Select Spent By",:input_html => {:class => 'form-control'} %>
		      </div>
		   </div>
	    </div>

	    <div class="form-group col-lg-12">
	      <div class="col-lg-6">
		      <label for="inputEmail" class="col-lg-2 control-label">Spent Date</label>
		      <div class="col-lg-6">
		      	 <%= f.input :spent_date, :label =>false, required: true,  input_html: {class: 'form-control',:value => Date.today.strftime("%m/%d/%Y")}, :placeholder => "Select Date " %>
		      </div>
		   </div>
	    </div>
	    
	    <div class="form-group col-lg-2">
	      <div class="col-lg-2 col-lg-offset-2">
	        <button type="submit" class="btn btn-primary">Add Daily Expense</button>
	      </div>
	    </div>
	  </fieldset>
	<% end %>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                List of Types In Your Account
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
            	<div class="table-responsive">
            		<table class="table table-striped table-bordered table-hover" id="daily_exp">
            			<thead>
						    <tr>
						      <th>#</th>
						      <th>Ammount</th>
						      <th>Date</th>
						      <th>Who Spent?</th>
						      <th>Spent Type</th>
						      <th>Note</th>
						    </tr>
						</thead>
						<tbody>
						  	<% @daily_expenses.each do |daily_expense| %>
						  		<tr>
						  			<td><%= daily_expense.id %></td>
						  			<td><%= daily_expense.ammount %></td>
						  			<td><%= daily_expense.spent_date %></td>
						  			<td><%= daily_expense.spent_by %></td>
						  			<td><%= daily_expense.type.name %></td>
						  			<td><%= daily_expense.note %></td>	  			
						  		</tr>
						  	<% end %>
						</tbody>
            		</table>
            	</div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
	
	$('#daily_expense_spent_date').datepicker({
		autoclose: true,
		clearBtn: true
	});
	$('#daily_exp').dataTable();
});
</script>


