<!DOCTYPE html>
<html>
<head>
  <title>DailyNeed</title>
  <%= stylesheet_link_tag "application","bootstrap.min", "bootstrap", "datepicker" %>
  
  <%= javascript_include_tag "application", "bootstrap.min", "bootstrap-datepicker"%>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>
	<%= gflash %>
	<div class="container">
		<div class="bs-docs-section clearfix">
			<div class="row">
				<div class="col-lg-12">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
